<div class="modal-header">
  <button mat-button mat-dialog-close type="button" class="close" data-dismiss="modal"><span>×</span></button>
  <h3>New Food</h3>
</div><br>
<div class="new-food">
<mat-dialog-content class="mat-typography">  
  <span class="name title">Name:</span>
  <input #nameInput><br>
  <span class="subjec title">Description:</span>
  <input #subjectInput><br>
  <span class="description title">Img:</span>
  <img ngSrc="cat.jpg">
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="send-email-button">Send Email</button>
  </mat-dialog-actions>
</mat-dialog-content>
</div>