<br>
<button class="add-new-button" (click)="openAddNewEvent()">{{"ADD NEW"| translate}}</button>
  <div class="container" >
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">{{"DELETE" |translate}}</div>
            <div class="col col-2">{{"DESCIPTION" |translate}}</div>
            <div class="col col-3">{{"TITLE" |translate}}</div>
            <div class="col col-4">{{"IMG" |translate}}</div>
            <div class="col col-5">#</div>
          </li>
          <div *ngFor="let item of events" >
      <li class="table-row" (dblclick)="editEvent(item)">
        <div class="col col-1" data-label="delete"><img class="delete-icon" src="../../../../assets/img/delete.png"></div>
        <div class="col col-2" data-label="description">{{item.description}}</div>
        <div class="col col-3" data-label="title">{{item.title}}</div>
        <div class="col col-4" data-label="img"><img class="item-img right" [src]="item.img"></div>
        <div class="col col-5" data-label="img">{{item.id}}</div>
      </li>
      <li class="inner-row" *ngIf="item.isOpen">
        <div class="title"><span class="id title">title: </span><input class="title info" value="{{item.title}}"></div><br>
        <div class="description"><span class="addres title">Description: </span><input class="description info" value="{{item.description}}"><br></div>
        <div class="img"><span class="description title">Img: </span><img class="item-img right" [src]="item.img"></div>
        <i class="fa fa-user" aria-hidden="true"></i>
        <button mat-button class="edit-provider-button" (click)="openEditRecipeDialog(provider)">edit</button>
      </li>
    </div>
    </ul>
  </div>
  
  