<div class="food">
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="selected-item">
            <h4>{{food?.title}}</h4>
            <img [src]="food?.img" class="img-responsive">
            <div class="portfolio-caption">
                <p class="text-muted">{{food?.des}}</p>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions></div>