img {
    width: 150px;
}

.food{
    width: 600px;  
  }
  
  .description{
    width: 582px;
    height: 193px;
  }
  
  #ignismyModal .modal-header{
    border:0px;
    display: inline;
  }
  
  h3 {
    display: inline;
  }
  
  .title {
    padding-top: 10px;
  }
  
  .mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 65vh;
    overflow: auto;
    height: 440px;
  }