.food {
    float: right;
    display: inline-block;
    height: 600px;
    overflow: auto;
}

.delete-icon {
    width: 40px;
}

.item-img {
    width: 100px;
    display: inline-block;
    margin-right: 10px;
    display: inline-flex;
}

.food-description {
    display: inline-flex;
}

.food-title {
    display: inline-flex;
}

.plus-button {
    background-color: white;
}