<div class="container box">
    <div class="row">
        <!---Left Side--->
        <div class="col-l">
            <h1> {{recipe?.title | translate}}</h1>
            <h5><i class="far fa-clock"></i> {{recipe.time}} | <i class="far fa-clock"></i> {{recipe.preparation}} | <i
                    class="far fa-smile-wink"></i> {{recipe.serving}}
            </h5>
            <hr>
            <h4>{{"INGREDIENTS" | translate}}</h4>
            <div class="row Ingredients">
                <div class="col">
                    <ul>
                        <div class="ingredients" *ngFor="let item of recipe?.ingredients">
                            <li><span> {{item?.name}}</span></li>
                        </div>
                        <img class="recipe-img" [src]="recipe.img">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg box2">
        </div>
        <div class="directions">
            <h4>{{"DIRECTIONS"| translate }}</h4>
            <div *ngFor="let recipeStep of recipe.recipeSteps">
                <i class="far fa-check-square"></i> <span style="color:#caaca9;font-weight:bold;"><strong>{{"STEP"| translate }}
                        {{recipeStep.order}}</strong></span>
                <p>{{recipeStep.step}}</p>
            </div>
        </div>
    </div>

</div>