
.ingredients {
    display: inline;
}

.recipe-img  {
    display: inline;
    width: 100%;
}

  .box {
    background-color: white;
    padding: 40px;
    border: 3px solid #fec503;
  }
  
  /* Font Styles */
  h1 {
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-style: italic;
    color: #fec503;
  }
  
  h4 {
    padding-top: 20px;
    color: #565753;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  
  p {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 13px;
  }
  
  h5 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 15px !important;
    color: #565753;
    padding-top: 5px;
    text-transform: uppercase;
  }
  span {
    font-weight: bold !important;
    text-transform: capitalize;
    line-height: 30px;
  }
  
  /* List Style*/
  
  ul {
    background-color: #fec303ac;
    list-style-type: none;
    padding: 15px;
    margin: 15px;
  }
  
  li {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 10px;
  }
  
  
  .far {
    color: #caaca9;
  }